<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="isRowLead" value="true"/>
    <add key="RegionLeft" value="82.19450361111112"/>
    <add key="RegionTop" value="46.70785388888889"/>
    <add key="RegionRight" value="91.93272555555555"/>
    <add key="RegionBottom" value="43.082858888888886"/>
  </appSettings>
</configuration>